@import "general";

.contact {
  padding: 3rem 5rem;

  box-shadow: 0 -4px 10px 0px rgba(#000, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.75rem;

  .contactHead {
    width: 30rem;
    .contactHeading {
      @include Heading($size: 3rem, $weight: 600, $ls: 1px);
      color: $clr-accent;
    }

    .contactSubHeading {
      @include SubHeading(1.25rem, 400);
      color: $clr-100;
    }
  }

  .contactForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    .inputFields {
      width: 30rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .inputEmail,
      .inputMessage {
        resize: none;
        border: none;

        background-color: transparent;
        height: 3.5rem;
        padding-inline: 1rem;

        color: $clr-100;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1.5px;
        line-height: 1.2;

        border-radius: 10px;
        box-shadow: 2px 3px 10px rgba(#000, 0.9);

        transform: scale(1.01);
        transition: box-shadow, transform 250ms;

        &::placeholder {
          font-weight: 300;
          letter-spacing: 1px;
        }

        &:focus,
        &:hover {
          border: none;
          outline: none;
          transform: scale(1);
          box-shadow: 0 0 0 1px transparent,
            inset 0px 0px 10px 1px rgba(#000, 0.7);
        }
      }

      .inputMessage {
        height: 9rem;
        padding-block: 1rem;
      }
    }
  }
}
