@import "general";

.menu {
  position: relative;
  isolation: isolate;

  .menuSelect {
    position: sticky;
    top: 0;
    padding: 3rem 5rem 2rem;
    background-color: $clr-900;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    box-shadow: 0 4px 10px 0px rgba(#000, .7);
    z-index: 1;

    .menuHeading {
      @include Heading($size: 3rem, $weight: 600, $ls: 1px);
      color: $clr-100;
    }

    .menuSelectItem {
      display: flex;
      gap: 1rem;
    }
  }
  
  .menuItems{
    padding: 3rem  5rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
